
[Unit]
Description=Celestica mt3010 platform modules
After=local-fs.target
Before=pmon.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-meituan-ms100bcl-128c start
ExecStop=-/etc/init.d/platform-modules-meituan-ms100bcl-128c stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
