[Unit]
Description=Service for fancontrol
After=platform-modules-b3010.service

[Service]
Type=forking
ExecStart=/usr/local/bin/fand_v2

[Install]
WantedBy=multi-user.target