
[Unit]
Description=Celestica b3010 platform modules
After=local-fs.target
Before=pmon.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-cel-b3010 start
ExecStop=-/etc/init.d/platform-modules-cel-b3010 stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
